*{margin: 0;
padding: 0;
}


header { 
     background-color: rgb(133, 35, 179);
     color: rgb(216, 219, 235);
     display: flex;
     justify-content: space-around;
     padding: 24px 0;
    *{margin: 0;
    padding: 0; }

    }

    .cabecalho-lista-item{
        display: inline-block;
        margin: 0px;
        padding: 10px;
        font-size: 24px;
    }

.imagem-escola{
width: 25%;

}

.escola{
background-image:linear-gradient(blueviolet, pink);
color: white;
display: flex;
 justify-content: center;}

 .texto-escola{font-size: 20px;}

.escola-conteudo{

    width: 40%;
    align-items: center;
    padding: 24px 0;
}
 .titulo-escola{
    padding: 20px;
 }

.imagem-escola{margin: 40px;}
.estudante{
    background-image:linear-gradient(rgb(105,6, 64), rgb(64,6,40));
    color:white;
}
   
.estudante-imagem{

   width: 120px;
}

.estudante-icone{
    width: 20px;
} 

.estudante-titulo{
    text-align: center;
}
.estudante-div{
    text-align: center;
    padding: 50px, 0;
}
 

